body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-wrap: break-word;
}
div.search {
  margin: 20px auto auto;
  width: 50%;
}
div.list {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}
div.list span {
  /* margin-left: 20px; */
  box-sizing: border-box;
}
div.list span.column1 {
  display: inline-block;
  width: 10%;
}
div.list span.column2 {
  display: inline-block;
  width: 40%;
}
div.list span.column3 {
  display: inline-block;
  width: 20%;
}
div.list span.column4 {
  display: inline-block;
  width: 15%;
}
div.list span.column5 {
  display: inline-block;
  width: 15%;
}

div.loading-more {
  margin: 0 auto;
  width: 50%;
}

div.is-loading {
  margin: 0 auto;
  width: 50%;
}
.button {
  background-color: ForestGreen;
  border-radius: 5px;
  color: white;
  padding: 0.3em;
  text-decoration: none;
  font-size: 0.1em;
}

.button:focus,
.button:hover {
  background-color: DarkGreen;
}

.button-delete {
  background-color: rgb(226, 19, 19);
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  text-decoration: none;
  font-size: 0.5em;
}

.button-delete:focus,
.button-delete:hover {
  background-color: rgb(226, 19, 19);
}
