body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-wrap: break-word;
}
div.search {
  margin: 20px auto auto;
  width: 50%;
}
div.list {
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
  box-sizing: border-box;
}
div.list span {
  /* margin-left: 20px; */
  box-sizing: border-box;
}
div.list span.column1 {
  display: inline-block;
  width: 10%;
}
div.list span.column2 {
  display: inline-block;
  width: 40%;
}
div.list span.column3 {
  display: inline-block;
  width: 20%;
}
div.list span.column4 {
  display: inline-block;
  width: 15%;
}
div.list span.column5 {
  display: inline-block;
  width: 15%;
}

div.loading-more {
  margin: 0 auto;
  width: 50%;
}

div.is-loading {
  margin: 0 auto;
  width: 50%;
}
